{{define "root"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Go News</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link href="/-/css/style.css" rel="stylesheet">
    {{template "root-style"}}
</head>
<body>
    <div>
        Navbar
    </div>
    <div class="ui container">
         {{template "root-body" .}}
    </div>
    
    <div>
        Footer
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    {{template "root-script"}}
</body>
</html>

{{end}}

