{{define "root-body"}}
<div>
    <h3>Admin List</h3>
    <a class="ui red button" href="/admin/logout">Logout</a>
    <a class="ui blue button" href="/admin/create">Create News</a>
    <br>
    <table class="ui table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
             {{range .List}}
           <tr>
               <td>{{.ID.Hex}}</td>
               <td>{{.Title}}</td>
               <td>
                    
                   <form method="POST">  
                    <a class="ui green button" href="/admin/edit?id={{.ID.Hex}}">Edit</a>
                    <input type="hidden" name="action" value="delete">
                    <input type="hidden" name="id" value="{{.ID.Hex}}">
                    <button class="ui submit button red" type="submit">Delete</button>
                   </form>
               </td>
           </tr>
            {{end}}
        </tbody>

    </table>
</div>
{{end}} {{define "root-script"}}
<script>

</script>
{{end}} {{define "root-style"}} {{end}}